
html
    {
    line-height: 1.15;
    text-size-adjust: 100%;
    }

body
    {
    margin: 0;
    }

main
    {
    display: block;
    }

h1
    {
    font-size: 2em;
    margin: 0.65em 0;
    }


hr
    {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    }

a
    {
    backgrounf-color: transparent;
    }

abbr[title]
    {
    borfer-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
    }

b, strong
    {
    font-weight: bolder;
    }

code, kbd, pre, samp
    {
    font-family: monospace, monospace;
    font-size: 1em;
    }

sub, sup
    {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    }

    sub
        {
        bottom: -0.25em;
        }

    sup
        {
        top: -0.5em;
        }

img
    {
    border-style: none;
    }

button, input, optgroup, slect, textarea
    {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    }

button, input
    {
    overflow: visible;
    }

button, select
    {
    text-transform: none;
    }

button[type="button"],[type="reset"],[type="submit"]
    {
    appearance: button;
    }

button::moz-focus-inner,[type="button"]::moz-focus-inner,[type="reset"]::moz-focus-inner,[type="submit"]::moz-focus-inner
    {
    padding: 0;
    border-style: none;
    }

button::moz-focusing,[type="button"]::moz-focusing,[type="reset"]::moz-focusing,[type="submit"]::moz-focusing
    {
    outline: 1px dotted ButtonText;
    }

fieldset
    {
    padding: 0.35em 0.75em 0.625em;
    }

legend
    {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100;
    padding: 0;
    white-space: normal;
    }
 
progress
    {
    vertical-align: baseline;
    }

textarea
    {
    overflow: auto;
    }

[type="checkbox"],[type="radio"]
    {
    box-sizing: border-box;
    padding: 0;
    }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button 
    {
    height: auto;
    }

[type="search"] 
    {
    -webkit-appearance: textfield; 
    outline-offset: -2px; 
    }

[type="search"]::-webkit-search-decoration 
    {
    -webkit-appearance: none;
    }

::-webkit-file-upload-button 
    {
    -webkit-appearance: button; 
    font: inherit; 
    }

details 
    {
    display: block;
    }

summary 
    {
    display: list-item;
    }

template 
    {
    display: none;
    }

[hidden] 
    {
    display: none;
    }

table
    {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 1rem;
    }

    table th
        {
        text-align: left;
        padding: 0.3rem 0.5rem;
        }

    table td
        {
        padding: 0.3rem 0.5rem;
        }

table tbody th
    {
    font-weight: normal;
    font-style: italic;
    }

table thead tr th
    {
    background: #dddddd;
    }

table tbody tr:nth-child(2n) th, table tbody tr:nth-child(2n) td
    {
    background: #efefef;
    }

table tfoot
    {
    font-size: 0.8rem;
    }

    table tfoot p
        {
        margin: 0;
        }


