
<!doctype html>

<html>

    <head>

        <title>od_mods</title>
        
        <link rel="stylesheet" href="css/styles.css" />

        <script href="js/od_bods.js"></script>


    </head>


    <body>

        <main id="main">
	  <h2>OD Bods</h2>
	  <div id="progress">
	    <div class="meter">
	      <span style="width: {{ data|length / 48 }}%">{{ "%.2f"|format(data|length / 48) }}%</span>
	    </div>
	    <p>We've catalogued {{ data|length }} datasets so far. With a
	    (conservative) estimate that each council would have 150
	    datasets there should be around 4800 for the 32 Scottish
	    councils, so {{ 4800 - data|length }} are still MIA...</p>
	  </div>
	  
        <!-- table -->

        <article id="article">
	  <h2>Datasets</h2>
	  {% for d in data %}
	  <div class="dataset">
	  <a href="{{ d.page_url }}"><h3>{{ d.title }}</h3></a>
	  <div class="description">{{ d.description | markdown }}</div>
	  <div class="metadata">
	    {% if d.license  %}<p class="license">License: {{ d.license }}</p>{% endif %}
	    <p class="dates">Created: {{ d.date_created }}{% if d.date_updated %}, Updated: {{ d.date_updated }}
	      {% endif %}</p>
	    {% if d.num_record %}<p class="numRecords">{{ d.num_records }} records.</p>{% endif %}
	    <p>{% for tag in d.maual_tags %}{{ tag }} {% endfor %}
	      {% for tag in d.original_tags %}{{ tag }} {% endfor %}
	    </p>
	    <p class="fileLinks">
	      {% for f in d.files %}
	      <a href="{{ f.url }}">{{ f.file_type }}.</a>
	      {% if f.file_size %}({{ f.file_size }} {{ f.size_unit }}){% endif %}
	      {% endfor %}
	    </p>
	    <p>From: {{ d.owner }}</p>
	  </div>
	  </div>
	  {% endfor %}

        </article>


        <!-- progress bar -->

        <article id="article">

            <div class="meter" data-label="" style="width: 45%"></div>


        </article>


        </main>

     </body>


</html>
