name: Website status checker

on:
  workflow_dispatch

jobs:
  check_status:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tools

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
          python-version: '3.9'
    - name: Set up environment
      run: |
        export GITHUB_ACCESS_TOKEN=${{secrets.ALIVE_GITHUB_TOKEN}}
        export GITHUB_USER_ASSIGNEE="jackgilmore"
    - name: Run status checker
      run: python ./alive.py 